.about {
    width: 100%;
    height: 506px;
    background: #F6F6F6;
    h2 {
        padding-top: 120px;
    }
    p {
        width: 485px;
        font-family: 'Gilroy Medium';
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $black;
        margin: 35px auto 10px auto;
        @media (max-width: 500px) {
            width: 316px;
        }
    }
}